.jumbotron{
    background-image: url('../images/jumbotron.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
}

footer{
    background-image: url('../images/footer-bg.jpg');
    height: 300px;
}

main{
    padding: 50px;
    background-color: black;
}

.card{
    width: 200px;
    height: 200px;
}


